{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New User {% endblock %}</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Name "
               value="{{ request.form['name'] }}"></input>
        <br>

        <label for="mail">Mail</label>
        <br>
        <textarea name="mail"
                  placeholder="Mail content"

                  >{{ request.form['mail'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

